* {
  padding: 0;
  margin: 0;
}

a {
  text-transform: uppercase;
  color: #0b0f11;
  text-decoration: none;
}

div.container {
  max-width: 960px;
  width: 80%;
  position: relative;
  margin: 0 auto;
}

div.container {
*zoom: 1;
}

div.container:before, div.container:after {
  content: "";
  display: table;
}

div.container:after {
  clear: both;
}

body {
  color: #afafaf;
  background-color: #0b0f11;
}

header {
  background-color: #afafaf;
}header {
  overflow: hidden;
  padding: 0.5em 0;
  margin-bottom: 3em;
}

a.logo {
  overflow: hidden;
  padding: 0.5em 0;
  float: left;
  display: block;
}

nav {
  overflow: hidden;
  width: 100%;
}

nav ul {
  overflow: hidden;
}

nav li {
  text-align: center;
  margin-bottom: 0;
  line-height: 2em;
  list-style: none;
  border-top: 1px solid #0b0f11;
}

@media screen and (min-width: 640px) {

  nav {
    height: auto;
    width: auto;
    float: right;
  }
  
  
  
  nav li {
    margin-left: 1.5em;
    float: left;
    border: 0;
  }
  
  nav li:first-child {
    margin-left: 0;
  }

}div.form-header {
  text-align: center;
}

div.form {
  max-width: 500px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 2em;
}

div.form {
*zoom: 1;
}

div.form:before, div.form:after {
  content: "";
  display: table;
}

div.form:after {
  clear: both;
}

div.form input.button {
  background-color: red;
  cursor: pointer;
  color: white;
  padding: 0.75em 2em;
  margin: 1em;
  border: 1px solid red;
}

div.form-field label {
  text-align: left;
  margin-top: 0.5em;
  width: 100%;
  float: left;
  margin-bottom: 0.2em;
}

div.form-field input {
  background-color: #afafaf;
  width: 100%;
  padding: 0.5em;
  line-height: 1.5em;
  border: 1px solid #afafaf;
}

div.first-column {
  width: 45%;
  float: left;
  margin: 0;
}

div.second-column {
  width: 45%;
  float: right;
  margin: 0;
}table tr th {
  text-align: left;
  padding: 1em;
}

table tr td {
  text-align: left;
  padding: 1em;
}

div.user-table {
  max-width: 500px;
  padding: 2em;
  margin: auto;
}