* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #8c9397;
}

header {
  overflow: hidden;
  border-bottom: 1px solid #DDD;
  padding: 0.5em 0;
  background: #fff;
  margin-bottom: 3em;
}

div.container {
  max-width: 960px;
  width: 80%;
  position: relative;
  margin: 0 auto;
}

div.container {
*zoom: 1;
}

div.container:before, div.container:after {
  content: "";
  display: table;
}

div.container:after {
  clear: both;
}a.logo {
  overflow: hidden;
  padding: 0.5em 0;
  float: left;
  display: block;
}

nav {
  overflow: hidden;
  width: 100%;
}

nav ul {
  overflow: hidden;
}

nav li {
  line-height: 2em;
  text-align: center;
  border-top: 1px solid #eee;
  list-style: none;
  margin-bottom: 0;
}

@media screen and (min-width: 640px) {

  nav {
    height: auto;
    width: auto;
    float: right;
  }
  
  
  
  nav li {
    margin-left: 1.5em;
    float: left;
    border: 0;
  }
  
  nav li:first-child {
    margin-left: 0;
  }

}div.form-header {
  text-align: center;
}

div.user-registration-form {
  max-width: 500px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 2em;
}

div.user-registration-form {
*zoom: 1;
}

div.user-registration-form:before, div.user-registration-form:after {
  content: "";
  display: table;
}

div.user-registration-form:after {
  clear: both;
}

div.user-registration-form input.button {
  margin: 1em;
}

div.form-field label {
  text-align: left;
  margin-top: 0.5em;
  width: 100%;
  float: left;
  margin-bottom: 0.2em;
}

div.form-field input {
  line-height: 1.5em;
  padding: 0.5em;
  width: 100%;
  border: 1px solid #DDD;
}

div.first-column {
  width: 45%;
  float: left;
  margin: 0;
}

div.second-column {
  width: 45%;
  float: right;
  margin: 0;
}